:root {
/* opacity 100% */
  --base-black: #000000;
  --gray-1: #323232;
  --gray-2: #343434;
  --gray-3: #353535;
  --gray-4: #999999;
  --gray-5: #5a5a5a;
  --gray-6: #ababab;
  --gray-7: #c4c4c4;
  --gray-8: #fefefe;
  --base-white: #ffffff;
  --semi-gray-1: #cacac7;
  --semi-gray-2:#d3d3d2;
  --semi-gray-3:#fbfcfb;
  --very-dark-1: #231f20;
  --very-dark-2: #2c2829;
  --base-blue: #1e90ff;
  --light-green: #849d8f;
  --light-blue: #8996a6;
  --light-brown: #9d8b84;
  --light-orange: #d07058;
  --light-red: #e84d37;
  --very-light-green: #ecf1ee;
  --very-light-orange: #f8f7f4;
  --very-light-red-1: #fbded7;
  --very-light-red-2: #f6b5a5;
  --very-light-red-3: #ffbc9e;


/* opacity less 100% */
  --gray-20: rgba(50, 50, 50, 0.2);
  --white-20: rgba(255, 255, 255, 0.2);
  --black-30: rgba(0, 0, 0, 0.3);
  --very-light-red-3-30: rgba(255, 188, 158, 0.3);
  --semi-gray-50: rgba(248, 247, 244, 0.5);
  --white-50: rgba(255, 255, 255, 0.5);
  --gray-52: rgba(178, 178, 178, 0.52);
  --light-green-75: rgba(215, 242, 227, 0.75);
  --light-blue-75: rgba(218, 228, 239, 0.75);
  --light-orange-75: rgba(239, 224, 218, 0.75);
  --white-80: rgba(255, 255, 255, 0.8);

/* red gradient f26843 -> e74a35
white gradient FFFFFF 1 -> FFFFFF 0 0.2 */
}

/* COMMON STYLES */

img {
  height: auto;
  max-width: 100%;
}

*, *::before, *::after {
  font-family: 'Roboto', 'Arial', sans-serif;
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  height: 100%;

  background-color: var(--light-green);
}

.page-wrapper {
  flex-direction: column;
  display: flex;

  width: 1200px;
  min-height: 100%;

  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  overflow: hidden;
  clip: rect(0 0 0 0)
  border: 0;
}

.orange-button {
  justify-content: center;
  align-items: center;
  display: flex;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: var(--base-white);
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  cursor: pointer;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: 0;
  border-radius: 70px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}

/* TEXT AND FONTS */

.white-link {
  color: var(--base-white);
  border-bottom: 1px solid var(--white-20);
}

.white-link:hover {
  color: var(--very-light-red-3);
  border-bottom: 1px solid var(--very-light-red-3-30);
}

.white-link:active {
  color: var(--very-light-red-3);
  border-bottom: 1px solid var(--very-light-red-3-30);
}

.main-menu-link {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: var(--base-white);
  text-decoration: none;

  border-bottom: 1px solid var(--white-20);
}

.main-menu-link:hover {
  color: var(--base-black);
  background-color: var(--base-white);

  border-bottom: 0;
}

.main-menu-active {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: var(--base-white);
  text-decoration: none;

  background-color: var(--light-orange);
}

.sub-menu-link {
  font-size: 14px;
  line-height: 16px;
  color: var(--gray-1);
  text-decoration: none;
}

.sub-menu-link:hover {
  background-color: var(--very-light-red-1);
}

.sub-menu-link:active {
  background-color: var(--very-light-red-2);
}

.sub-menu-active {
  font-size: 14px;
  line-height: 16px;
  color: var(--base-white);
  text-decoration: none;

  background-color: var(--light-orange);
}

.auth-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--base-white);
  text-decoration: none;
}

.auth-link:hover {
  color: var(--gray-1);

  background-color: var(--base-white);
}

.basket {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--base-white);
  text-decoration: none;
}

.full {
  color: var(--gray-1);
}

.work-time {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: var(--base-white);
}

.phone-link {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: var(--base-white);
  text-decoration: none;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.breadcrumbs-active {
  border-bottom: 0;
}

.section-header {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: var(--base-white);
}

.promotion-block h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  color: var(--base-white);
}

.promotion-block p {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: var(--base-white);
}

.filters-fieldset {
  border: 0;
}

.filters-fieldset legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--base-white);
  font-weight: bold;
}

.filters-fieldset {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--base-white);
}

.sort {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--base-white);
}

.filters-submit {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--base-white);
}

.goods-price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  color: var(--base-white);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.kg {
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
}

.goods-box-caption {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--base-white);

  border-bottom: 1px solid var(--white-20);
}

.paginator-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--base-white);
  text-decoration: none;
}

.paginator-active {
  color: var(--gray-1);
}

.info-header {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: var(--gray-1);
}

.advantages-list-item {
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-1);
}

.news-blog-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--gray-1);
}

.news-blog-link {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: var(--gray-1);
}

.subscribe-content p {
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-5);
}

.contacts-label {
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-1);
}

.contacts-content {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: var(--gray-1);
}

.contacts-content a {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: var(--gray-1);
  text-decoration: none;
}

.documents-link {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.design-by p {
  font-size: 12px;
  line-height: 18px;
  color: var(--base-white);
}

.designer-link {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

/* PLACEHOLDERS */

.subscribe-email::placeholder {
  height: 24px;

  font-size: 16px;
  line-height: 24px;
  color: var(--gray-4);
}

/* HEADER */

.page-header {
  flex-direction: column;
  display: flex;

  padding: 0 27px;
}

.header-first-row {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header-second-row {
  justify-content: flex-end;
  display: flex;
}

.page-header nav {
  margin-right: auto;
}

.main-menu {
  display: flex;
  list-style: none;
}

.main-menu-item:not(:last-child) {
  margin-right: 32px;
}

.sub-menu {
}

.sub-menu-item {}

.header-buttons {}

.work-time-and-phone {
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
}

/* MANE PAGE */

.page-mane {
  flex-direction: column;
  display: flex;
}

.page-mane section {
  padding: 0 27px;
  margin-top: 40px;
}

.slider {
  height: 200px;
  background-color: #ccc;
}

/* PROMOTION */

.promotion {
  justify-content: space-between;
  display: flex;
}

.promotion-block {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;

  width: 560px;
  min-height: 229px;

  padding-top: 16px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 16px;

  border-radius: 16px;
}

.promotion-block h2{
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.promotion-block p {
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.promotion-block a {
  align-self: flex-end;
  padding: 15px 22px;
}

.raspberry-promotion {
  background-image: url('../img/raspberry-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.chocolate-promotion {
  background-image: url('../img/chocolate-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* GOODS HIT */

.goods-hit {

}

.goods-list {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
}

.goods-list-item {
  width: 267px;
}

.goods-box {
  margin: 0;
  position: relative;
}

.goods-box figcaption {
  text-align: center;
  margin-top: 13px;
}

.goods-item {
  border-radius: 50%;
}

.goods-price {
  position: absolute;
  top: 216px;
  left: 0;
}

.hit::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;

  background-image: url('../img/hit.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

/* INFO BLOCK */

section.info-block {
  padding-top: 24px;
  padding-left: 20px;
  padding-bottom: 17px;

  margin-right: 27px;
  margin-left: 27px;

  background-image: url('../img/waffel.jpg');
  background-position: top left;
  border-radius: 16px;
}

.info-header {
  margin: 0;
  padding: 0;
}

.advantages-list {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;

  padding: 0;
  margin: 0;
  margin-top: 7px;

  list-style: none;
}

.advantages-list-item {
  position: relative;
  width: 540px;
  padding-top: 14px;
  margin-bottom: 19px;
  padding-left: 55px;
}

.advantages-list-item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.advantages-list-item:nth-child(1)::before {
  background-image: url('../img/ice-cream.svg');
}

.advantages-list-item:nth-child(2)::before {
  background-image: url('../img/cow.svg');
}

.advantages-list-item:nth-child(3)::before {
  background-image: url('../img/eco.svg');
}

.advantages-list-item:nth-child(4)::before {
  background-image: url('../img/thermometer.svg');
}
/* CATALOG */

/* FOOTER */
